/* Asegurarse de que el contenedor de resultados esté alineado y tenga un margen adecuado */
#results-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre las tarjetas */
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin-top: 2rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 100%; /* Asegurarse de que el contenedor ocupe todo el ancho disponible */
    box-sizing: border-box;
}

/* Estilo para cada tarjeta de resultado */
.result-item {
    background-color: #f2f2f2; /* Color suave para el cuadro principal */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 1rem;
    width: 100%; /* Cada tarjeta ocupa el 100% del ancho del contenedor padre */
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
}

/* Estilo al pasar el ratón sobre una tarjeta de resultado */
.result-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

/* Estilo para los encabezados dentro de cada tarjeta */
.result-item h2, .result-item h3 {
    margin-top: 0;
    color: var(--secondary-color);
}

/* Estilo para cada sección dentro de la tarjeta */
.section {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%; /* Asegura que las secciones ocupen el ancho completo del contenedor principal */
    box-sizing: border-box;
}

/* Colores para las secciones internas */
.details-section {
    background-color: #e0e0e0; /* Color más claro para la sección de detalles */
}

.artist-info {
    background-color: #d0f0c0; /* Color verde claro para la información del artista */
}

.album-info {
    background-color: #c0e0ff; /* Color azul claro para la información del álbum */
}

.collaborations {
    background-color: #f0c0c0; /* Color rosa claro para las colaboraciones */
}

.audio-features {
    background-color: #d0d0f0; /* Color azul claro para las características de audio */
}

.playlists {
    background-color: #e0f0e0; /* Color verde claro para las playlists */
}

/* Estilo para los enlaces de las playlists dentro de cada tarjeta */
.result-item .playlists-list a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.result-item .playlists-list a:hover {
    color: #2980b9;
    text-decoration: underline;
}

/* Asegurarse de que las tarjetas sean responsivas en pantallas más pequeñas */
@media (max-width: 768px) {
    .result-item {
        width: 100%; /* Una tarjeta por fila en pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    .result-item {
        width: 100%; /* Una tarjeta por fila en pantallas muy pequeñas */
    }
}
